<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.2/css/all.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>ToDo List</h1>
        <ul>
            <li v-for="(item, i) in todo" :key="i" :class="{ lineT: todo[i].done }">
                <span @click="remove(i)"><i class="fa-solid fa-trash" style="color: #e60000;"></i></span>
                <input type="checkbox" name="" id="" @click="changeStatus(i)"> 
                {{ item.text }}
            </li>
        </ul>
        <h3>Aggiungi elementi alla lista</h3>
        <input class="inputText" type="text" v-model="myInput">
        <button @click="addElement()"><i class="fa-solid fa-plus" style="color: #1f513e;"></i></button>
    </div>

    
    
    <script src="./js/main.js"></script>
</body>
</html>